@charset "UTF-8";
page {
	/* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-animation: fade-in 0.5s ease both;
	animation: fade-in 0.5s ease both;
	height: 100%;
	font-size: 28rpx;
	font-family: Arial, 'Helvetica Neue', Helvetica, 'Microsoft YaHei', '微软雅黑', Tohoma, sans-serif;
	color: #303030;
	background: #f1f1f1;

	--color-1: #fff2e6;
	--color-2: #ffd2ab;
	--color-3: #ffb882;
	--color-4: #ff9c59;
	--color-5: #fa7a2f;
	// 主要颜色
	--color-6: #c73c00;
	--color-7: #c73c00;
	--color-8: #a12b00;
	--color-9: #7a1d00;
	--color-10: #541100;
	--color-main: #3c9cff;
	// font-family: Arial, Helvetica, 'Microsoft Yahei', sans-serif;
	// 字体通用颜色
	--color-f: #7dba00;
	--common-radis: 16rpx;
}
/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}
/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}
view,
text,
block,
cover-view,
page,
input,
scroll-view {
	box-sizing: border-box;
}
button {
	margin: 0;
	padding: 0;
	font-size: 28rpx;
	background-color: #ffffff;
	&::after {
		border: none;
	}
}
.flex {
	display: flex;
}
.flex-a {
	align-items: center;
}
.flex-a-start {
	align-items: flex-start;
}
.flex-a-end {
	align-items: flex-end;
}
.flex-jc {
	justify-content: center;
}
.flex-jc-sb {
	justify-content: space-between;
}
.flex-jc-start {
	justify-content: flex-start;
}
.flex-jc-sa {
	justify-content: space-around;
}
.flex-jc-end {
	justify-content: flex-end;
}
.flex-dr {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex1 {
	flex: 1;
}
.safe-bottom {
	width: 100%;
	height: constant(safe-area-inset-bottom);
	height: env(safe-area-inset-bottom);
}
// 填充tabbar的高度避免遮挡，实际需要填充的高度以组件为准，默认为50+安全区域
.tab-fill {
	width: 100%;
	height: calc(constant(safe-area-inset-bottom) + 51px);
	height: calc(env(safe-area-inset-bottom) + 51px);
}
.w100 {
	width: 100%;
}
.w0 {
	width: 0;
}
.h100 {
	height: 100%;
}
.ab-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.t-center {
	text-align: center;
}
.mr4 {
	margin-right: 4rpx;
}
.mr10 {
	margin-right: 10rpx;
}
.mr16 {
	margin-right: 16rpx;
}
.mr20 {
	margin-right: 20rpx;
}
.mr30 {
	margin-right: 30rpx;
}
.mb10 {
	margin-bottom: 10rpx;
}
.mb16 {
	margin-bottom: 16rpx;
}
.mb20 {
	margin-bottom: 20rpx;
}
.mb24 {
	margin-bottom: 24rpx;
}
.mb30 {
	margin-bottom: 30rpx;
}
.mb34 {
	margin-bottom: 34rpx;
}
.ml16 {
	margin-left: 16rpx;
}
.ml28 {
	margin-left: 28rpx;
}
.br8 {
	border-radius: 8rpx;
}
.br14 {
	border-radius: 14rpx;
}
.font20 {
	font-size: 20rpx;
}
.font24 {
	font-size: 24rpx;
}
.font30 {
	font-size: 30rpx;
}
.font32 {
	font-size: 32rpx;
}
.font-bold {
	font-weight: bold;
}
.main-c {
	color: var(--color-6);
}
.c-333 {
	color: #333333;
}
.c-999 {
	color: #999999;
}
.c-gray {
	color: #cccccc;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ellipsis-webkit {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
// 省略多行，默认2
@mixin hidden-multi-line($line: 2) {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
}
.required::before {
	margin-left: -8rpx;
	color: #f56c6c;
	content: '*';
}
.shadow-hover {
	box-shadow: #cccccc 0 0 20rpx 4rpx;
}
.main-hover {
	font-weight: bold;
	color: var(--color-6) !important;
	background-color: var(--color-2) !important;
	box-shadow: 0 0 16rpx 2rpx var(--color-6);
}
.sec-hover {
	font-weight: bold;
	color: var(--color-2) !important;
	background-color: var(--color-6) !important;
	box-shadow: inset 0 0 16rpx 0 var(--color-2);
}
.press-hover {
	// background-color: rgb(185 184 184 / 41.8%);
	scale: 0.9;
}
.xy-border {
	border-style: solid;
	border-width: 0.5px !important;
	border-color: #e4e7ed !important;
}
.xy-border-top {
	border-color: #e4e7ed !important;
	border-top-style: solid;
	border-top-width: 0.5px !important;
}
.xy-border-left {
	border-color: #e4e7ed !important;
	border-left-style: solid;
	border-left-width: 0.5px !important;
}
.xy-border-right {
	border-color: #e4e7ed !important;
	border-right-style: solid;
	border-right-width: 0.5px !important;
}
.xy-border-bottom {
	border-color: #e4e7ed !important;
	border-bottom-style: solid;
	border-bottom-width: 0.5px !important;
}
.xy-border-top-bottom {
	border-color: #e4e7ed !important;
	border-top-style: solid;
	border-top-width: 0.5px !important;
	border-bottom-style: solid;
	border-bottom-width: 0.5px !important;
}
